<mat-card>
<mat-card-header> <mat-card-title>
	<h2>MyCase List</h2>
	</mat-card-title> </mat-card-header>
<mat-card-actions>
<a mat-raised-button [routerLink]="['/my-case-add']" color="primary">New</a>
<mat-paginator [pageSizeOptions]="[10, 25, 50]" #matPaginator1></mat-paginator>
</mat-card-actions>
<mat-card-content> 
<mat-table [dataSource]="dataSource">
	<mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
	<mat-row *matRowDef="let myRowData; columns: tableColumns"></mat-row>
	<!--
	<ng-container  matColumnDef="status">
		<mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
		<mat-cell *matCellDef="let myRowData">{{myRowData.status? myRowData.status.description:''}}</mat-cell>
	</ng-container>
	-->
	<ng-container  matColumnDef="title">
		<mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
		<mat-cell *matCellDef="let myRowData">{{myRowData.title}}</mat-cell>
	</ng-container>
	<ng-container  matColumnDef="status">
		<mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
		<mat-cell *matCellDef="let myRowData">{{myRowData.status.value}}</mat-cell>
	</ng-container>
	<ng-container  matColumnDef="caseType1">
		<mat-header-cell *matHeaderCellDef>Case Type 1</mat-header-cell>
		<mat-cell *matCellDef="let myRowData">{{myRowData.caseType1.value}}</mat-cell>
	</ng-container>
	<ng-container  matColumnDef="caseType2">
		<mat-header-cell *matHeaderCellDef>Case Type 2</mat-header-cell>
		<mat-cell *matCellDef="let myRowData">{{myRowData.caseType2.value}}</mat-cell>
	</ng-container>
	<ng-container  matColumnDef="caseType3">
		<mat-header-cell *matHeaderCellDef>Case Type 3</mat-header-cell>
		<mat-cell *matCellDef="let myRowData">{{myRowData.caseType3.value}}</mat-cell>
	</ng-container>
	<ng-container  matColumnDef="statusCode">
		<mat-header-cell *matHeaderCellDef>Status Code</mat-header-cell>
		<mat-cell *matCellDef="let myRowData">{{myRowData.statusCode.value}}</mat-cell>
	</ng-container>
	<ng-container  matColumnDef="comments">
		<mat-header-cell *matHeaderCellDef>Comments</mat-header-cell>
		<mat-cell *matCellDef="let myRowData">{{myRowData.comments}}</mat-cell>
	</ng-container>
	
	<ng-container  matColumnDef="id">
		<mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
		<mat-cell *matCellDef="let myRowData">
			<a mat-button [routerLink]="['/my-case-detail', myRowData.id]">Edit</a>
			<a mat-button (click)="remove(myRowData.id)">Delete</a>
		</mat-cell>
	</ng-container>
</mat-table>
</mat-card-content>
<mat-card-actions>
<a mat-raised-button [routerLink]="['/my-case-add']" color="primary">New</a>
</mat-card-actions>
</mat-card>


